.footer-container{   
}

.footer {
    width: 1200px;
    background-color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: Arial, sans-serif;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    padding: 10px;
    min-width: 200px;
    max-width: 300px;
    place-self: flex-start;
}

.footer-section h3 {
    font-size: 15px;
    color: #4E4E4E;
    font-weight: bold;
    margin: 0px;
}


.footer-section h3 , .footer-section p, .footer-section a {
    padding: 4px 0;
}

.footer-section p, .footer-section a {
    line-height: 1.6;
    text-decoration: none;
    font-size: 13px;
    color: #818180;

}

.footer-section .list-link{
    display: flex;
    flex-direction: column;
}

.footer-section a:hover {
    color: #ffcc00;
}

.footer-section .img{
    display: flex;
    flex-direction: row;
}

.footer-section .img img{
    object-fit: cover;
    
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a {
    font-size: 1.4em;
    color: #ddd;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #ffcc00;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8em;
    color: #777;
}

/* Responsive */
@media (max-width: 600px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }
}